@use "../variables" as *;

   


.app_header{
    background-color: $black_default;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: transform 0.3s;
    transform: translate(0, 0);

    @media (max-width:768px){
        height: 110px;
    }
    @container sticky-header scroll-state(scrolled: bottom) {
        transform: translate(0, -150%);
    }

   /* stylelint-disable-next-line at-rule-no-unknown */
    @container sticky-header scroll-state(not (scrollable: top)) {
        transform: translate(0, 0) !important;
    }

    

    img{
        width: 120px;
        height: 70px;

        @media (max-width:1024px){
            width: 100px;
            height: 60px;
        }
    }

    &_nav, &_nav_list{
        display: flex;
        align-items: center;
    }

    &_nav{
        gap: 50px;

        @media (max-width:1024px){
            gap: 15px;
        }

    }

    &_nav_list{
       
        gap: 30px;

        @media (max-width:850px){
            gap: 15px;
        }

        @media (max-width:768px){
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            background-color: $black_default;
            height: 50px;
            gap: 0;
        }

        @media (max-width:400px){
            justify-content: center;
            width: 100%;
        }


        a{
            
            text-decoration: none;
            color: $secondary_color;
            border-radius: 16px;
            border: 2px solid;
            border-color: $black_default;
            padding: 6px 16px;
            letter-spacing: 1.28px;
            transition: border-color $defaultTransition;
            font-size: clamp(12px, .9vw, 16px);

            @media (max-width:1024px){
                 padding: 10px 5px;
            }

            @media (max-width:768px){
                background:#333533;
                font-size: 10px;
                display: block;
                text-align: center;
                width: 82px;
            }

            &:hover{
                border-color: $grey;
            }
        }

        a[href="#info"]::after{
            content: 'E CONTATTI';
            margin-left:5px;

            @media (max-width:768px){
              display: none;
            }
        }
    }

    .cta_btn{
        gap: 10px;
        border-color: $primary_color;
        padding: 8px 32px;

        @media (max-width:1024px){
            padding:  7px 16px;
            font-size: 12px;
        }
       
    }
}