@use "../variables" as *;

.app_header{
    background-color: $black_default;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 120px;
        height: 70px;
    }

    &_nav, &_nav_list{
        display: flex;
        align-items: center;
    }

    &_nav{
        gap: 50px;
    }

    &_nav_list{
        gap: 30px;

        a{
            text-decoration: none;
            color: $secondary_color;
            border-radius: 16px;
            border: 2px solid;
            border-color: $black_default;
            padding: 6px 16px;
            letter-spacing: 1.28px;
            transition: border-color $defaultTransition;

            &:hover{
                border-color: $border_grey;
            }
        }
    }

    .cta_btn{
        gap: 10px;
        border-color: $primary_color;
        padding: 8px 32px;
    }
}