
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    max-width: 1920px;
    container-name: sticky-header;
    container-type: scroll-state;
}


body{
    background-color: #242423;
}


ul{
    list-style: none;
}

