* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 1920px;
  container-name: sticky-header;
  container-type: scroll-state;
  scroll-behavior: smooth;
}

body {
  background-color: #242423;
}

ul {
  list-style: none;
}

.default_padding_x {
  padding-inline: 140px;
}

.default_padding_left {
  padding-left: 140px;
}

.bgColor_transparent {
  background-color: transparent;
}

.artist-slider-margin-top {
  margin-top: 58px;
}

.letter-spacing-0 {
  letter-spacing: -2.8px;
}

.letter-spacing-1 {
  letter-spacing: 0.4px;
}

.letter-spacing-2 {
  letter-spacing: 1.12px;
}

.letter-spacing-3 {
  letter-spacing: 1.28px;
}

.cta_btn {
  display: flex;
  align-items: center;
  border: 2px solid;
  transition: 0.2s ease-in-out;
  border-radius: 24px;
  text-decoration: none;
}
.cta_btn .wa path {
  transition: fill 0.2s ease-in-out;
}
.cta_btn_active {
  background-color: #e8eddf;
  color: #242423;
}
.cta_btn_active:hover {
  background-color: #242423;
  color: #e8eddf;
}
.cta_btn_active:hover .wa_tel {
  fill: #F5CB5C;
}
.cta_btn_active:hover .wa_bg {
  fill: #242423;
}
.cta_btn_active:hover .wa_border {
  fill: #e8eddf;
}
.cta_btn_inactive {
  background-color: #242423;
  color: #cfdbd5;
}
.cta_btn_inactive:hover {
  background-color: #e8eddf;
  color: #242423;
}

.app_header {
  background-color: #242423;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
  transition: transform 0.3s;
  transform: translate(0, 0);
}
@container sticky-header scroll-state(scrolled: bottom) {
  .app_header {
    transform: translate(0, -100%);
  }
}
.app_header {
  /* stylelint-disable-next-line at-rule-no-unknown */
}
@container sticky-header scroll-state(not (scrollable: top)) {
  .app_header {
    transform: translate(0, 0) !important;
  }
}
.app_header img {
  width: 120px;
  height: 70px;
}
.app_header_nav, .app_header_nav_list {
  display: flex;
  align-items: center;
}
.app_header_nav {
  gap: 50px;
}
.app_header_nav_list {
  gap: 30px;
}
.app_header_nav_list a {
  text-decoration: none;
  color: #cfdbd5;
  border-radius: 16px;
  border: 2px solid;
  border-color: #242423;
  padding: 6px 16px;
  letter-spacing: 1.28px;
  transition: border-color 0.2s ease-in-out;
}
.app_header_nav_list a:hover {
  border-color: #818784;
}
.app_header .cta_btn {
  gap: 10px;
  border-color: #e8eddf;
  padding: 8px 32px;
}

.hero {
  display: flex;
  margin-top: 60px;
}
.hero_left_text_container {
  display: flex;
  flex-direction: column;
  gap: 76px;
}
.hero_left_text_container h1 {
  color: #e8eddf;
  font-size: clamp(74px, 8vw, 140px);
  letter-spacing: -2.8px;
  line-height: clamp(74px, 8vw, 126px);
}
.hero_left_text_container p {
  font-size: clamp(16px, 2vw, 28px);
  width: 470px;
  color: #e8eddf;
  position: relative;
  padding-left: 32pt;
}
.hero_left_text_container p::before {
  content: "";
  position: absolute;
  background-color: #f5cb5c;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 8px;
  border-radius: 999px;
}
.hero_left_text_container p span {
  font-style: italic;
}
.hero_left {
  flex: 1;
}
.hero_left a {
  max-width: 310px;
  text-align: center;
  height: 48px;
  place-content: center;
  margin-top: 48px;
}
.hero_right {
  flex: 1;
  position: relative;
}
.hero_right img {
  width: 35vw;
  position: fixed;
  animation-timeline: scroll();
  animation-name: changeOpacityOnScroll;
  animation-duration: 1ms;
  animation-direction: alternate;
  z-index: -1;
  top: 120px;
}

@keyframes changeOpacityOnScroll {
  0% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0.1;
  }
}
.section_heading h2 {
  color: #cfdbd5;
  display: flex;
  flex-direction: column;
  gap: 64px;
  font-size: 16px;
}
.section_heading h2 span {
  color: #e8eddf;
  font-size: 48px;
}
.section_heading hr {
  border: 2px solid #584e31;
  border-radius: 24px;
  margin-top: 24px;
  width: 96px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  gap: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}

.swiper-wrapper:active {
  cursor: grabbing;
}
.swiper-wrapper::-moz-selection {
  background-color: transparent;
}
.swiper-wrapper::selection {
  background-color: transparent;
}

.slider {
  overflow: hidden;
}

.slider-bottom {
  margin-top: 16px;
  overflow: hidden;
}

.swiper-slide {
  width: 260px;
  height: 345px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}
.swiper-slide:active {
  cursor: grabbing;
}
.swiper-slide:not(.swiper-slide-lightBox)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #242423;
  transition: all 0.3s;
  opacity: 0;
}
.swiper-slide:hover::after {
  opacity: 0.5;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.swiper-slide-relative {
  position: relative;
}

.slider-margin-top {
  margin-top: 24px;
}

.swiper-navigation-container {
  display: flex;
  right: 0;
  height: 48px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
  gap: 16px;
  padding-right: 140px;
}
.swiper-navigation-container .slider-buttons-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.swiper-navigation-container-between {
  justify-content: space-between;
  align-items: center;
}

.slider-button-prev,
.slider-button-next {
  background-color: #333533;
  width: 96px;
  height: 48px;
  max-height: 48px;
  align-items: center;
  border-radius: 24px;
  margin-top: unset;
  transition: border-color 0.3s ease-in-out;
  border: 2px solid;
  color: transparent;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.slider-button-prev svg,
.slider-button-next svg {
  margin-left: 15px;
}
.slider-button-prev svg g,
.slider-button-next svg g {
  transition: fill 0.3s ease-in-out;
}
.slider-button-prev:hover,
.slider-button-next:hover {
  border-color: #f5cb5c;
}
.slider-button-prev:hover g[fill="#818784"],
.slider-button-next:hover g[fill="#818784"] {
  fill: #f5cb5c;
}
.slider-button-prev .swiper-navigation-icon,
.slider-button-next .swiper-navigation-icon {
  height: 48px;
}

.slider-button-next {
  transform: rotate(180deg);
  border-color: #818784;
}

.section-margin-top {
  margin-top: 126px;
}

#tatuatori .slider {
  position: relative;
  margin-bottom: 80px;
}
#tatuatori .swiper-slide {
  width: 397px;
  height: 560px;
  transition: all 0.3s;
}
#tatuatori .swiper-slide-active, #tatuatori .swiper-slide-prev {
  opacity: 0.3;
}
#tatuatori .slider-artist h3 {
  color: #e8eddf;
  font-size: 32px;
}
#tatuatori .swiper-slide-artist {
  width: 382px;
  height: 545px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 10;
  margin-right: 16px;
  border-radius: 16px;
}
#tatuatori .swiper-slide-artist-name {
  color: #e8eddf;
  font-size: 80px;
  font-weight: 900;
  line-height: 85%;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#tatuatori .swiper-slide-artist-info {
  position: absolute;
  left: 18px;
  top: 18px;
}
#tatuatori .swiper-slide-artist-socialmedias {
  background-color: #e8eddf;
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 168px;
  border-radius: 24px;
  margin-top: 42px;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
#tatuatori .swiper-slide-artist-socialmedias svg path,
#tatuatori .swiper-slide-artist-socialmedias svg circle,
#tatuatori .swiper-slide-artist-socialmedias svg g {
  transition: fill 0.3s, stroke 0.3s;
}
#tatuatori .swiper-slide-artist-socialmedias svg:hover .fill-black {
  fill: #242423;
}
#tatuatori .swiper-slide-artist-socialmedias svg:hover .fill-white {
  fill: #e8eddf;
}
#tatuatori .swiper-slide-artist-socialmedias svg:hover .stroke-white {
  stroke: #e8eddf;
}

#studio .studio-images {
  margin-top: 48px;
}
#studio .studio-images-container {
  display: grid;
  gap: 16px 17px;
  grid-template-columns: repeat(3, 536px);
  grid-template-rows: 326px 326px 260px 260px 260px 260px;
  grid-template-areas: "a b c" "a b c" "d e f" "g h f" "i l m" "i n o";
}
#studio .studio-images-margin-top {
  margin-top: 16px;
}
#studio .studio-images .studio-text-card-container .studio-images-item-text {
  color: #e8eddf;
  font-size: clamp(20px, 1.7vw, 40px);
  letter-spacing: 0.4px;
}
#studio .studio-images .studio-text-card-container .cta_btn {
  width: 310px;
  font-size: 14px;
  height: 48px;
  text-align: center;
  justify-content: center;
  margin-top: 116px;
}
#studio .studio-images-item {
  height: 100%;
  width: 100%;
}
#studio .studio-images-item-text {
  line-height: 1.5;
}
#studio .studio-images-item img {
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#studio .studio-images .grid-1 {
  grid-area: a;
}
#studio .studio-images .grid-2 {
  grid-area: b;
}
#studio .studio-images .grid-3 {
  grid-area: c;
}
#studio .studio-images .grid-4 {
  grid-area: d;
}
#studio .studio-images .grid-5 {
  grid-area: e;
}
#studio .studio-images .grid-6 {
  grid-area: f;
}
#studio .studio-images .grid-7 {
  grid-area: g;
}
#studio .studio-images .grid-8 {
  grid-area: h;
}
#studio .studio-images .grid-9 {
  grid-area: i;
}
#studio .studio-images .grid-10 {
  grid-area: l;
}
#studio .studio-images .grid-11 {
  grid-area: m;
}
#studio .studio-images .grid-12 {
  grid-area: n;
}
#studio .studio-images .grid-13 {
  grid-area: o;
}

#info .info-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0.75fr 0.6fr 1fr;
  gap: 3vw;
}
#info .info-container h3 {
  color: #e8eddf;
  font-size: 24px;
}
#info .info-container .form-desc {
  font-size: 20px;
  margin-top: 30px;
}
#info .info-container .grey-text {
  color: #818784;
}
#info form {
  display: flex;
  flex-wrap: balance;
  justify-content: space-between;
  gap: 24px 0;
  margin-top: 64px;
  margin-bottom: 50px;
}
#info .file-image {
  position: absolute;
  top: 53%;
  left: 10px;
  width: 35px;
  height: 40px;
  z-index: 10;
  transform: translateY(-50%);
  border-radius: 4px;
}
#info .file-image .delete-image-btn {
  position: absolute;
  top: -6px;
  right: -12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: red;
  background: none;
  font-size: 18px;
  cursor: pointer;
}
#info .file-image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
}
#info .form-input-container-relative {
  position: relative;
  width: 48%;
}
#info .form-input-container-relative .input-label-absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
#info .form-input-container-relative input {
  width: 100%;
  height: 48px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 24px;
  appearance: none;
  border: none;
  border-radius: 4px;
  letter-spacing: 1.12px;
  color: #818784;
  background-color: #333533;
}
#info .form-input-container-relative input:focus {
  outline: 1px solid white;
}
#info .form-input-container-relative input.focus {
  outline: 1px solid white;
}
#info .form-input-container-relative input[type=date] {
  position: relative;
  background: transparent;
  color: #818784;
}
#info .form-input-container-relative input[type=date]::after {
  content: "Scegli un giorno";
  position: absolute;
  top: 0;
  left: 0;
  color: #818784;
  z-index: 1;
  background: white;
  width: 100%;
  height: 100%;
  background: url("../images/picker.svg") #333533 no-repeat;
  background-size: 10% 100%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  align-content: center;
}
#info .form-input-container-relative input[type=date].picker-newDate::after {
  content: attr(data-date);
}
#info .form-input-container-relative ::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
  cursor: pointer;
}
#info .form-input-container-relative .time-picker {
  position: relative;
}
#info .form-input-container-relative .time-picker.focus {
  outline: 1px solid white;
}
#info .form-input-container-relative .time-picker::after {
  content: attr(data-time);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/picker.svg") #333533 no-repeat;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-size: 10% 100%;
  z-index: 1;
  color: #818784;
  align-content: center;
}
#info .form-input-container-relative .time-picker-newTime::after {
  content: attr(data-time);
}
#info .overflow-hidden {
  overflow: hidden;
  height: 48px;
}
#info input[type=file] {
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: relative;
  color: transparent;
}
#info input[type=file]:focus {
  outline: none;
}
#info input[type=file]::-webkit-file-upload-button {
  display: none;
}
#info input[type=file]::-webkit-input-placeholder {
  display: none;
}
#info input[type=file]::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "Allega immagine (Max 8MB)";
  color: #818784;
  width: 95%;
  height: 100%;
  align-content: center;
  text-align: right;
  font-size: 12px;
  z-index: 1;
}
#info input[type=file].file-newImage::after {
  background: var(--anteprima, #333533);
  background-repeat: no-repeat;
  width: 20px;
}
#info .file-container {
  border: 1px solid #818784;
  border-radius: 4px;
  border: 1px solid #818784;
}
#info .form-input-container-big-input {
  width: 100%;
}
#info .form-input-container-big-input textarea {
  width: 100%;
  height: 144px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 24px;
  appearance: none;
  border: none;
  border-radius: 4px;
  letter-spacing: 1.12px;
  color: #818784;
  background-color: #333533;
  padding-top: 16px;
}
#info .form-input-container-big-input textarea:focus {
  outline: 1px solid #fff;
}
#info button.cta_btn {
  height: 100%;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}
#info address ul {
  height: inherit;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 50px;
}
#info address ul li, #info address ul a {
  color: #818784;
  font-size: 20px;
  font-style: normal;
}
#info address ul li {
  display: flex;
  gap: 25px;
  align-items: center;
}
#info address ul li::before {
  content: "";
  width: 32px;
  height: 32px;
}
#info address ul li.location-icon::before {
  background: url(../images/icon_footer_location.svg) no-repeat;
}
#info address ul li.tel-icon::before {
  background: url(../images/icon_footer_phone.svg) no-repeat;
}
#info address ul li.email-icon::before {
  background: url(../images/icon_footer_mail.svg) no-repeat;
}
#info address ul li.wa-icon::before {
  background: url(../images/icon_footer_WA.svg) no-repeat;
}
#info address ul li.insta-icon::before {
  background: url(../images/icon_footer_IG.svg) no-repeat;
}
#info .form-errors p {
  color: rgb(201, 24, 62);
}
#info #info-studio .flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}
#info #info-studio .info-item-container {
  display: flex;
  margin-top: 80px;
  align-items: center;
  gap: 25px;
  font-size: 20px;
}
#info #info-studio .info-item-container b {
  color: #818784;
}
#info #info-studio .info-item-container {
  color: #e8eddf;
}
#info #info-studio .time-icon {
  background: url(../images/icon_clock.svg) no-repeat;
  width: 32px;
  height: 32px;
}
#info #info-studio .map {
  max-width: 540px;
  max-height: 242px;
  margin-right: 20px;
  margin-top: 10px;
}
#info #info-studio .map iframe {
  border-radius: 16px;
}

.footer {
  margin-top: 70px;
  margin-bottom: 50px;
}
.footer .inner-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: #e8eddf;
}
.footer .inner-footer a {
  color: #e8eddf;
}
.footer .inner-footer .footer-icons-smnet {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .inner-footer .footer-icons-smnet .footer-icon {
  width: 32px;
  height: 32px;
}
.footer .inner-footer .footer-icons-smnet .footer-icon div {
  width: 100%;
  height: 100%;
}
.footer .inner-footer .footer-icons-smnet .footer-icon div.wa {
  background: url("../images/icon_footer_WA.svg") no-repeat;
}
.footer .inner-footer .footer-icons-smnet .footer-icon div.insta {
  background: url("../images/icon_footer_IG.svg") no-repeat;
}
.footer .inner-footer .footer-icons-smnet .footer-icon div.facebook {
  background: url("../images/icon_footer_fb.svg") no-repeat;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.swiper-lightBox {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  z-index: 100;
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease, display 0.6s ease allow-discrete;
  background-color: black;
}

.swiper-lightBox-active {
  display: block;
  opacity: 1;
}

@starting-style {
  .swiper-lightBox-active {
    opacity: 0;
  }
}
.swiper-wrapper-lightBox {
  width: inherit;
  height: inherit;
}

.swiper-slide-lightBox {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.swiper-slide-lightBox:hover::after {
  background: transparent;
}
.swiper-slide-lightBox img {
  max-width: 600px;
  max-height: 150vw;
}

.swiper-button-lightBox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
}
.swiper-button-lightBox svg {
  width: 30%;
  fill: white;
}
.swiper-button-lightBox svg path {
  fill: white;
}

.lightBox-exit-button {
  position: absolute;
  top: 5px;
  right: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  z-index: 110;
  cursor: pointer;
}

@keyframes show-lightBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=app.css.map */